{% extends 'tikets/base.html' %}


{% block content %}


    <!-- <form class="forindex" id="login-form" method="POST" action="create/">   -->
    <form class="forindex" id="form">

       {% csrf_token %}
    {% if user.is_authenticated %}
         <input type="button" value="Start bot" onClick='location.href="http://10.44.18.61/startbot/"'>
        <input type="button" value="Stop bot" onClick='location.href="http://10.44.18.61/stopbot/"'>
        <input type="button" value="Заявки" onClick='location.href="http://10.44.18.61/tiketsList/"'>
    {% endif %}
         <table class="table" id="table">
                    <tr>
                        <td><label >Введіть прізвище та ім'я</label></td>
                        <td><input  name="tikets_PIP" id="tikets_PIP"
                                   type="text" class="form-control"></td>
                    </tr>

                    <tr>
                        <td><label >Email:</label></td>
                        <td><input  name="tikets_email" id="tikets_email"
                                   type="email" class="form-control"></td>
                    </tr>

                     <tr>
                        <td><label >Номер телефону:</label></td>
                        <td><input  name="tikets_Phone" id="tikets_Phone"
                                   type="tel" class="form-control"></td>
                     </tr>

                     <tr>
                        <td><label >Номер кабінету та корпус:</label></td>
                        <td><input  name="tikets_Location" id="tikets_Location"
                                   type="text" class="form-control"></td>
                    </tr>

                     <tr>
                         <td>Категорія</td>
                         <td>
                         <select class="form-control" name="tikets_Topic" id="tikets_Topic">
                             {% for topic in topic_list %}
                         <option value={{ topic.id }}>   {{ topic.topic_text }}  </option>

                             {% endfor %}
                      </select>
                         </td>
                     <tr>
                        <td><label >Короткий опис проблеми:</label></td>
                        <td>
                            <textarea rows="5" name="tikets_text" id="tikets_text"
                                   type="text" class="form-control">
                            </textarea>
                        </td>
                       </tr>


                </table>

        <input id="send_tiket" type="submit" class="send_tiket" value="Надіслати" >
        <input id="send_reset" type="submit" class="send_tiket" value="Надіслати знову" >
        <p id="id_number_tikets"></p>

    </form>

{% endblock %}